<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title">
        <span>Instituto Luz</span>
      </a>
    </div>

    <div class="clearfix"></div>
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
        {% if user.is_superuser %}
          <li>
            <a><i class="fa fa-user" aria-hidden="true"></i> Alunos <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/alunos/">Alunos</a>
              </li>
              <li><a href="/alunos/add">Adicionar Alunos</a>
              </li>
            </ul>
          </li>
        {%endif%}
          <li><a><i class="fa fa-edit"></i> Turmas <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/">Turmas</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a href="/admin/" target="_blank" data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>

      <a href="/instrutor/add" data-toggle="tooltip" data-placement="top" title="Adicionar Instrutor">
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
      </a>
      <a href="/logout/" data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>
<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Olá, {{ user.get_username|capfirst }}!
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="/admin/" target="_blank"><i class="fa fa-cog pull-right"></i> Settings</a></li>
            <li><a href="/logout/"><i class="fa fa-sign-out pull-right"></i>  Log Out</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->